﻿<div class="text-center">
    <div id="paypal-button-container"></div>
</div>
<script src="~/js/Event/EventUtility.js" asp-append-version="true"></script>
@section Scripts {
    @*ViewBag.ClientId is our client id, we use it to access the javascrip SDK*@
    <script src="https://www.paypal.com/sdk/js?client-id=@ViewBag.ClientId"></script>

    <script>
        async function callInfo() {
            var EventLocationInfo = await JSON.parse(localStorage.getItem('EventLocationInfo'));
            console.log("updated info", EventLocationInfo);
            var JoinedEventInfo = await JSON.parse(localStorage.getItem('JoinedEventInfo'));
            console.log("JoinedEventInfo", JoinedEventInfo);
        }
        
        callInfo();
        @*The payment buttons automatically render all eligible buttons in a single location*@
        @*documentation: https://developer.paypal.com/sdk/js/reference/#style*@
        paypal.Buttons({
            style: {
                layout: 'vertical',
                color: 'gold',
                tagline: 'false',
                shape: 'rect'
            },
        @*Set up the server to call the Create Order API*@
            createOrder: (data, actions) => {
                return fetch("@Url.Action("Order")", {
                    method: "post",
                }).then((response) => {
                    if (!response.ok) {
                        return response.json().then(error => { throw error; });
                    }

                    return response.json();
                }).then((order) => order.id)
                .catch(error => alert(error.message));
            },
        @*Signals that a payer approved a purchase by submitting a card or selecting a button.*@
            onApprove: (data, actions) => {
                return fetch(`@Url.Action("Capture")?orderId=${data.orderID}`, {
                    method: "post",
                }).then((response) => {
                    if (!response.ok) {
                        return response.json().then(error => { throw error; });
                    }
                    @*Success is our custom payment successful page*@

                
                    window.location.href = "@Url.Action("Success")";

                    handlePaymentSuccess();
                }).catch(error => alert(error.message));
            }
        }).render('#paypal-button-container');

        const handlePaymentSuccess = async () => {
            try {
                // add userEvent to db
                var JoinedEventInfo = JSON.parse(localStorage.getItem('JoinedEventInfo'));
                var userInfo = JSON.parse(localStorage.getItem('userInfo'));

                console.log(JoinedEventInfo);
                console.log(userInfo);

                // Call the asynchronous function addUserEvent
                await addUserEvent(userInfo.user.userId, JoinedEventInfo.eventId);

                // After the addUserEvent function is done, navigate to the Success page
                window.location.href = "@Url.Action("Success")";
            } catch (error) {
                alert(error.message);
            }
        };


        
    </script>
}
