﻿<div class="text-center">
    <div id="paypal-button-container"></div>
</div>

@section Scripts {
    @*ViewBag.ClientId is our client id, we use it to access the javascrip SDK*@
    <script src="https://www.paypal.com/sdk/js?client-id=@ViewBag.ClientId"></script>

    <script>
        @*The payment buttons automatically render all eligible buttons in a single location*@
        @*documentation: https://developer.paypal.com/sdk/js/reference/#style*@
        paypal.Buttons({
            style: {
                layout: 'vertical',
                color: 'gold',
                tagline: 'false',
                shape: 'rect'
            },
        @*Set up the server to call the Create Order API*@
            createOrder: (data, actions) => {
                return fetch("@Url.Action("Order")", {
                    method: "post",
                }).then((response) => {
                    if (!response.ok) {
                        return response.json().then(error => { throw error; });
                    }

                    return response.json();
                }).then((order) => order.id)
                .catch(error => alert(error.message));
            },
        @*Signals that a payer approved a purchase by submitting a card or selecting a button.*@
            onApprove: (data, actions) => {
                return fetch(`@Url.Action("Capture")?orderId=${data.orderID}`, {
                    method: "post",
                }).then((response) => {
                    if (!response.ok) {
                        return response.json().then(error => { throw error; });
                    }
                    @*Success is our custom payment successful page*@
                    window.location.href = "@Url.Action("Success")";
                }).catch(error => alert(error.message));
            }
        }).render('#paypal-button-container');
    </script>
}