
<head>
    <link rel="stylesheet" type="text/css" href="~/css/GymDetail.css">
</head>


<div class="web-browser">
    <div class="fitness-center-container">
        <div class="fitness-center-image"> <img class="gym-pic" src="" alt="Picture for gym"></div>
        <div class="fitness-center-details">
            <div class="center-general-info">
                <div class="center-name"></div>
                <div class="sport-icon"><img class="icon" src="/img/basketball.png" alt="Basketball Image"></div>
            </div>
            <div class="address-block">
                <div class="center-address"></div>
            </div>
            <div class="detailed-info">
                <div class="operating-hours">
                    <div class="day-hours"><span class="day-name">Monday</span> <span class="hours mon-hours">6-11pm</span></div>
                    <div class="day-hours"><span class="day-name">Tuesday</span> <span class="hours tue-hours">6-11pm</span></div>
                    <div class="day-hours"><span class="day-name">Wednesday</span> <span class="hours wed-hours">6-11pm</span></div>
                    <div class="day-hours"><span class="day-name">Thursday</span> <span class="hours thur-hours">6-11pm</span></div>
                    <div class="day-hours"><span class="day-name">Friday</span> <span class="hours fri-hours">6-11pm</span></div>
                    <div class="day-hours"><span class="day-name">Saturday</span> <span class="hours sat-hours">6-11pm</span></div>
                    <div class="day-hours"><span class="day-name">Sunday</span> <span class="hours sun-hours">6-11pm</span></div>
                    </div>
                <div class="contact-info">
                    <div class="phone-number">8572651830</div>
                    <div class="status">
                        Open
                        <span class="closing-time">Closes 10PM</span>
                        </div>
                    <div class="rating">4.5</div>
                    <div class="distance">4 miles away</div>
             </div>
                            
                        </div>
                    </div>
                </div>
    <div class="upcoming-events-container">
        <div class="createEvent">
            <div class="event-group">
                <div class="create-instruction">
                    Doesn't match what you've expected?
                </div>
                <button type= class="CreateBtn" id="CreateBtn"> Create One!</button>
            </div>
        </div>
        <div class="event-details"></div>
            </div>
            </div>

    <script src="~/js/EventUtility.js" asp-append-version="true"></script>
    <script src="~/js/EventSpecification.js" asp-append-version="true"></script>
