@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <div class="login-page">
        <div class="div">
            <p class="text-wrapper">Play Hard, Team Up Easily</p>
            <img class="sport-pal" src="@Url.Content("~/Img/sport-pal.png")" alt="My Image" />


            <div>
                @{
                    Html.RenderPartial("CreateEvent");
                }
            </div>
        </div>
    </div>
</body>