/* Base styling for the registerevent container */
.registerevent {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;

}

/* Style the event section */
.event-section {
    flex: 30%;
    margin-right: 5px; 
   
}

.registeredEvent {
    max-height: 100vh;
    overflow-y: auto;
}
/* Style for individual event displays */
.event-display {
    
    padding: 0px;
    border-radius: 0px;
    margin-bottom: 0px;
}

.event-group {
    background: #313131;
    border-radius: 23px;
    padding: 0px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    color: white;
    max-width: 350px;
    margin: 10px;
}

.event-name {
    color: #e67e00;
    font-size: 20px;
    padding: 5px 10px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    font-weight: bold;
    text-align: center;
}

.event-line {
  height: 4px; 
  background-color: #ffffff;
}

.event-infoframe {
     margin-left:30px;
     margin-right:30px;
     margin-bottom:20px;
     border-radius: 10px; 
}

.event-time,
.event-location {
    text-align: center;
    margin-bottom: 5px;
    font-size:16px;
}
.event-name {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

 .vertical-line {
        border-left: 1px solid #313131;
        height: 100%;
        margin: 0 20px;
    }
.horizontal-line {
    border-bottom: 1px solid white;
    margin-bottom: 10px; 
}
 .chat-section {
        display: flex;
        flex-direction: column;
        max-width: 70%; /* Adjust based on your layout */
        margin: auto;
        height: 600px; /* Adjust based on your layout */
        flex:70%;
 }

.chat-backgroud {
    background-color: #313131; /* Dark background color */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden; /* Ensures nested content does not overflow */
}

    .info-section {
        display:flex;
        justify-content:space-between;
        align-items:center;
        width:100%;
        height:70px;
        padding:0 20px;

    }

    #info-name {
        font-weight: bold;
        color: #FFFFFF; /* Assuming a light text color */
        margin-bottom: 5px;
        margin-left:10px;
        font-size:30px;
    }

    #info-detail {
        color: #DDDDDD; /* Lighter text color for details */
        margin-bottom: 20px; /* Space between info and chat history */
        margin-right:10px;
        font-size:16px;
    }

#chatHistory, .chatHistory {
    flex: 0 1 70%; /* Takes up 70% of the space */
    overflow-y: auto; /* Allows scrolling */
    margin-bottom: 20px; /* Space between chat history and message input */
    background-color: #313131; /* Darker background for chat history */
    border-radius: 10px;
    padding: 10px;
    color: white;
    color: white;
}

    .send-message {
        flex: 0 1 30%; /* Takes up the remaining 30% of the space */
        display: flex;
        width:15%;
        align-items: center; /* Vertically aligns input and button */
    }

    #message-input {
        flex-grow: 1; /* Input takes up available space */
        padding: 10px;
        margin-right: 10px; /* Spacing between input and button */
        border-radius: 5px;
        border: none;
        color: #333;
        width:85%;
    }

    button {
        padding: 10px 20px;
        background-color: #FF9900; 
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
    }

    #chatHistory::-webkit-scrollbar {
        width: 8px;
    }

    #chatHistory::-webkit-scrollbar-track {
        background: #333333;
    }

    #chatHistory::-webkit-scrollbar-thumb {
        background-color: #555555;
        border-radius: 4px;
    }


.message-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px; 
}

.name-timestamp {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 0px;
}


.timestamp {
    color: #888;
    margin-left: 10px;
    font-size:13px;
}


.name {
    font-weight: bold;
    color: #FF9900;
}

.message {
   
}
.notice {
    text-align: center;

}