.login-page {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

    .login-page .div {
        background-color: #ffffff;
        width: 1280px;
        height: 832px;
        position: relative;
    }

    .login-page .text-wrapper {
        position: absolute;
        width: 1250px;
        top: 164px;
        left: 22px;
        font-family: "Inter-Regular", Helvetica;
        font-weight: 400;
        color: #000000;
        font-size: 30px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        text-decoration: underline;
    }

    .login-page .sport-pal {
        position: absolute;
        width: 461px;
        height: 102px;
        top: 50px;
        left: 418px;
    }

    .login-page .login {
        position: absolute;
        width: 605px;
        height: 183px;
        top: 560px;
        left: 345px;
    }

    .login-page .overlap {
        position: relative;
        width: 603px;
        height: 183px;
        background-color: #373434;
        border-radius: 67px;
        border: 1px solid;
        border-color: #000000;
        box-shadow: 0px 4px 4px #00000040;
    }

    .login-page .join-to-score-your {
        position: absolute;
        width: 579px;
        height: 36px;
        top: 9px;
        left: 12px;
        font-family: "Inter-BlackItalic", Helvetica;
        font-weight: 900;
        font-style: italic;
        color: #ffffff;
        font-size: 30px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
    }

    .login-page .submit-button {
        position: absolute;
        width: 238px;
        height: 86px;
        top: 79px;
        left: 184px;
    }

    .login-page .overlap-group {
        position: relative;
        width: 236px;
        height: 86px;
    }

    .login-page .btn-submit {
        position: absolute;
        width: 225px;
        height: 86px;
        top: 0;
        left: 0;
        background-color: #ff6b00;
        border-radius: 39px;
        border: 1px solid;
        border-color: #000000;
        box-shadow: 0px 4px 4px #00000040;
    }

    .login-page .text-wrapper-2 {
        position: absolute;
        width: 236px;
        height: 86px;
        top: 0;
        left: 0;
        font-family: "Inter-BoldItalic", Helvetica;
        font-weight: 700;
        font-style: italic;
        color: #ffffff;
        font-size: 30px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
    }
