
<head>
    <link rel="stylesheet" type="text/css" href="~/css/CreateForm.css">
</head>

<div class="web-browser">
    <div class="calender-section">
        <iframe src="https://calendar.google.com/calendar/embed?src=dcba7de1c5f8598fe103723b195c485848a97e53285972f8a9882726cb541039%40group.calendar.google.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>



    <div class="Create-Event-section">
        <div class="SubmissionForm">
            <div class="CreateEvent-info">
                <div class="EventHeader"> Create A New Event</div>
                <div class="EventInfo">
                    <div class="sport" id="sport">For [sportname]</div>
                    <div class="gym" id="gym">At [gymname]</div>
                </div>
            </div>

            @model CreateEvent
            <form id="eventForm" >
                <div class="input">
                    <label for="eventName">Event Name:</label>
                    <input type="text" id="eventName" name="eventName" required>
                </div>
                <div class="input">
                    <label for="startTime">Start Time:</label>
                    <input type="datetime-local" id="startTime" name="startTime" required>
                </div>
                <div class="input">
                    <label for="endTime">End Time:</label>
                    <input type="datetime-local" id="endTime" name="endTime" required>
                </div>
                <div class="input">
                    <label for="fee">Fee:</label>
                    <input type="number" id="fee" name="fee" required>
                </div>
                <div class="input">
                    <label for="payPalAccount">PayPal Account:</label>
                    <input type="number" id="payPalAccount" name="payPalAccount" required>
                </div>
          
               

                <button type="submit">Create Event</button>
            </form>
        </div>
       
    </div>
</div>

<script src="~/js/Event/EventUtility.js" asp-append-version="true"></script>
<script src="~/js/Event/CreateEvent.js" asp-append-version="true"></script>

